img{
    border-radius: 100px;
}
*{
    text-align: center;
}
body{
    background-image: url("images/back.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
#submit{
    float: right;
    background-color: darkred;
    color: aliceblue;
}
.card-header,.card-footer{
    background-color: black;
    color: yellow;

}
