img{
    border-radius: 100px;
}
*{
    text-align: center;
}
body{
    background-image: url("images/back.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
#submit{
    float: right;
    background-color: darkred;
    color: aliceblue;
}

.card-header,.card-footer{
    background-color: black;
    color: yellow;

}
table,tr,td{
    color: darkorchid;
}
button{
    color: orange;
}
.btn btn-orange proceed{
    color: orange;
}
.sub{
    color: bisque;
}